<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dirt Finder - <%= thisPageTitle %></title>
    <%- include partials/styles.ejs %>
</head>
<body>
    <header>
        <div class="site-title">
            <h1><a href="/">Dirt-Finder</a></h1>
            <%- include partials/nav.ejs %>
        </div>
        <div class="page-title">
            <h2><%= thisPageTitle %></h2>
        </div>
    </header>
    <div class="content-container">
        <div class="content-container-inner">
            <%- include(thisPage) %>
        </div>
    </div>  
    <%- include partials/scripts.ejs %>
</body>
</html>